<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="app">
<head>
    <!-- replace with application css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <!-- jQuery / Bootstrap scripts -->
    <script src="/ng/components/jquery/jquery.min.js"></script>
</head>
<body ng-controller="MainCtrl">
    <h1>Tic-Tac-Toe</h1>
    <!-- Control Panel -->
    <div ng-show="!model.in_progress">
        <span>Create a new board</span>
        <label for="board_size">Size</label>
        <input name="board_size" type="number" min="3" value="3" ng-model="model.matrix_size">
        <button ng-click="create_matrix()">Play</button>
    </div>
    <!-- Board -->
    <div ng-repeat="row in model.matrix track by $index">
        <div class="box" ng-repeat="tile in row track by $index"></div>
    </div>

    <!-- Scripts -->
    <!-- Angular -->
    <script src="/ng/components/angular/angular.min.js"></script>
    <script src="/ng/components/angular-sanitize/angular-sanitize.min.js"></script>
    <!-- CS Utilities -->
    <script src="/ng/components/cs-angular-utilities/loading.js"></script>
    <script src="/ng/components/cs-angular-utilities/pubsub.js"></script>
    <script src="/ng/components/cs-angular-utilities/modal.js"></script>
    <script src="/ng/components/cs-angular-utilities/passive-messenger.js"></script>
    <link rel="stylesheet" href="/ng/components/cs-angular-utilities/passive-messenger.css" type="text/css">
    <!-- Application Code -->
    <script src="/ng/app.js"></script>
    <!-- Controllers -->
    <script src="/ng/controllers/main_ctrl.js"></script>
    <!-- Providers -->
    <script src="/ng/services/board_svc.js"></script>
</body>
</html>
